body{ padding : 30px; }

/* ------ Ipads ------ */
@media all and ( max-width: 1024px ){

    body{ padding : 22px; }

}
/* ------ Smartphone ( landscape ) ------ */
@media all and ( max-width: 480px ){

    body{ padding : 10px; }

}
/* ------ Smartphone ( portrait ) ------ */
@media all and ( max-width: 320px ){

    body{ padding : 5px; }

}

body {
    max-width:100%;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(http://static.tumblr.com/d530b1c07d52505cfae61204dc32f378/pvei8zj/Evpmomofu/tumblr_static_black-wood-background.jpg); no-repeat center center fixed; 
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.Under_title{
  font-size:20px;
  color:#9aa1a9;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-top: 25px;
  padding-bottom:25px;
  text-align: center;
  margin-left:12%; 
  width: 75%;
  line-height: 30px;
}

.submit_btn1 a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 35px;
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  background-color:#20c7d9; 
  opacity: 1.0;
  margin-bottom: 10px;
  margin-right: 5px;
    filter: alpha(opacity=100); /* For IE8 and earlier */ }	

.submit_btn1:hover a{
   background-color:#20c7d9;
   opacity:0.8;
    filter: alpha(opacity=0.8); /* For IE8 and earlier */
 }

.submit_btn2 a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  background-color:#7cc576; 
  opacity: 1.0;
  margin-bottom: 10px;
    filter: alpha(opacity=100); /* For IE8 and earlier */ }	

.submit_btn2:hover a{
   background-color:#7cc576;
   opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */}
