body{ padding : 30px; }

/* ------ Ipads ------ */
@media all and ( max-width: 1024px ){

    body{ padding : 22px; }

}
/* ------ Smartphone ( landscape ) ------ */
@media all and ( max-width: 480px ){

    body{ padding : 10px; }

}
/* ------ Smartphone ( portrait ) ------ */
@media all and ( max-width: 320px ){

    body{ padding : 5px; }

}

body {
    max-width:100%;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(http://static.tumblr.com/d530b1c07d52505cfae61204dc32f378/pvei8zj/Evpmomofu/tumblr_static_black-wood-background.jpg); no-repeat center center fixed; 
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
